.navbar input[type="checkbox"],
.navbar .hamburgerLines .label {
  display: none;
}

.banner {
  display: none;
}

.navbar {
  box-shadow: var(--intense-box-shadow);
  position: fixed;
  width: 100dvw;
  background-color: white;
  opacity: 0.85;
  z-index: 100;
}

.navbarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 5rem;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.menuItems {
  order: 2;
  display: flex;
  gap: 2.5rem;
  justify-self: flex-end;
}


.logo {
  all: unset;
  order: 1;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.logo span {
  color: var(--primary-color);
}


@media (max-width: 1100px) {

  .banner {
    display: block;
    position: absolute;
    top: -.4rem;
    right: -.2rem;
    width: 14px;
    height: 14px;
    color: var(--primary-color);
    border-radius: 50%;
    background-color: var(--primary-color);
  }

  .navbar {
    opacity: 0.95;
  }

  .navbarContainer input[type="checkbox"],
  .navbarContainer .hamburgerLines {
    display: block;
    cursor: pointer;
  }

  .navbarContainer {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbarContainer input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbarContainer .hamburgerLines:not(.banner) {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbarContainer .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--icon-color);
  }

  .navbarContainer .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menuItems {
    padding-top: 100px;
    background: white;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    padding-left: 60px;
    transition: transform 0.5s ease-in-out;
  }


  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbarContainer input[type="checkbox"]:checked~.menuItems {
    transform: translateX(0);
  }

  .navbarContainer input[type="checkbox"]:checked~.hamburgerLines .line1 {
    transform: rotate(35deg);
  }

  .navbarContainer input[type="checkbox"]:checked~.hamburgerLines .line2 {
    transform: scaleY(0);
  }

  .navbarContainer input[type="checkbox"]:checked~.hamburgerLines .line3 {
    transform: rotate(-35deg);
  }

  .container .navbarContainer input[type="checkbox"]:checked~.label {
    position: absolute;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100dvh;
    z-index: -5;
    display: block-inline;

  }

  .navbarContainer input[type="checkbox"]:checked~.hamburgerLines .banner {
    display: none;
  }

}


/* menu buttons */


.navButton {
  all: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-color);
  gap: .5rem;
  font-weight: 600;
  width: 120px;

}

.icon {
  font-size: 1.5rem;
}




@media (hover: hover) and (pointer: fine) {
  .navButton:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.2s;
  }
}