.flag {
  height: 20px;
  width: 20px;
}


.languageButton {
  all: unset;
  display: flex;
  place-items: center;
  background-color: transparent;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  gap: .3rem;
  padding: .5rem 1rem;
}

.languageButton:hover {
  transform: scale(1.1);
}

.languageButton:active {
  transform: scale(1.05);
  transition: 0.2s;
}