.scrollable {
  height: 675px;
  overflow-y: auto;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly;
  width: 350px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  text-shadow: -1px 1px rgba(97, 155, 138, 0.5);
  padding: 1rem;
  margin: 1rem;
  background: white;
  border-radius: 0.75em;
  border: none;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition:
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  border-radius: inherit;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button:hover {
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.button:hover::before {
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

.button:active {
  background: white;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

.button:active::before {
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 90vw;
  max-width: 600px;
  height: fit-content;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.fact {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.addBasket {
  position: relative;
  top: -1rem;
  left: -.5rem;
  align-self: flex-end;
  margin-top: .5rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);

}

.addBasket:hover {
  transform: scale(1.1);
}

.nextButton {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 0.8rem;
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  align-self: flex-end;
  color: var(--text-color);
}

.nextButton:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}