.container {
  display: flex;
  overflow: hidden;
  height: 100vh;

}

.content {
  max-width: 600px;
  padding: 3rem 2rem;
  border-radius: 1rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.headSection {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 1rem;
  color: var(--text-color);

}

.header h1 {
  font-weight: 500;
}

.header h2 {
  font-weight: 400;
  width: 180px;
}

.readingOwl {
  position: relative;
  left: 3.5rem;
}

@media screen and (min-width: 768px) {
  .content {
    transform: scale(1.2);
  }
}