.header {
  margin-bottom: 2rem;
}


.header h1 {
  font-size: 2rem;
  font-weight: 500;
}

.header h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.inputGroup {
  position: relative;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 300px;
  border: #013237 0.5px solid;
  border-radius: 0.6rem;
  background: none;
  margin-bottom: .8rem;
  padding: 1rem;
  font-size: 1.1rem;

}

.userLabel {
  position: absolute;
  left: 0.5rem;
  top: .9rem;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:is(:focus, :valid) {
  outline: none;
  border: 1.5px solid;
}

.input:is(:focus, :valid)~.userLabel {
  transform: translateY(-100%) scale(0.8);
  background-color: var(--background-color);
  padding: 0 0.2em;
}


.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  font-size: 1.4rem;
  width: 100%;

  background-color: var(--primary-color);
  border-radius: 0.6rem;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-top: 0.5rem;
  font-weight: 500;
}


.link {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.link a {
  text-decoration: none;
  color: var(--secondary-color);
}

.passwordVisiblityButton {
  all: unset;
  position: absolute;
  display: flex;
  align-items: center;
  top: 1rem;
  right: .5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

  .button:is(:hover, :focus) {
    transform: scale(1.05);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 20px -10px;

  }

  .button:active {
    transform: scale(0.95);
    padding-bottom: 1px;
  }

  .link a:hover {
    text-decoration: underline;
    color: inherit;
  }

  .passwordVisiblityButton:is(:hover, :focus) {
    transform: scale(1.2);
  }

  .passwordVisiblityButton:active {
    transform: scale(0.9);
  }

}