.button {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;

  align-self: flex-end;
  display: flex;
  place-items: center;

  color: var(--background-color);
  background-color: var(--primary-color);
  text-shadow: -1px 1px rgba(220, 24, 24, 0.5);
  padding: 0.5rem;
  margin: 2rem 1rem;
  border-radius: 1rem;

  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 1.5rem;

  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;

}

.button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.image {
  transition: all 0.5s ease;
  z-index: 1;
}

.firstLabel {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.button:hover .image {
  transform: scale(3) translate(70%);
}

.secondLabel {
  position: absolute;
  left: -.2rem;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.button:hover .secondLabel {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.button:hover .firstLabel {
  transform: translateX(200%);
  transition-delay: 100ms;
}