.navbar {
  background-color: var(--primary-color);
  box-shadow: rgba(32, 32, 32, 0.25) 0px 5px 50px -22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.logoutButton {
  background-color: inherit;
  border: none;
}

.navButton,
.logoutButton {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--icon-color);
}



.icon {
  font-size: 2rem;
}

.logoutButton:hover,
.navButton:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

@media only screen and (max-height: 480px) {
  .navbar {
    padding: 0;
    height: fit-content;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.8rem;
  }

  .goPage {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.4rem;
  }
}