.navbar {
  background-color: #fae1dd;
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
}

.goPage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding: 0.5rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.onPage {
  background-color: #b18597;
}

.logoutIcon {
  font-size: 2.5rem;
  color: #f08080;
}

.icon {
  font-size: 2rem;
}

.icon:hover,
.logoutIcon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

@media only screen and (max-height: 480px) {
  .navbar {
    padding: 0;
    height: fit-content;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .goPage {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.4rem;
  }

  .icon {
    font-size: 3rem;
  }
}