.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.navButton {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: #f08080;

}

.logoutButton {
  display: flex;
  flex-direction: column;
  place-items: center;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #f08080;
  gap: 0.2rem;
}


.logoutIcon {
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
}

.icon:hover,
.logoutIcon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

@media only screen and (max-height: 480px) {
  .navbar {
    padding: 0;
    height: fit-content;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .goPage {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.4rem;
  }

  .icon {
    font-size: 2rem;
  }
}