.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  height: 75vh;
  width: 80vw;
  gap: 1rem;
  margin: 1rem;
  padding: 0 1rem;
}

.facts::-webkit-scrollbar {
  width: 0.4rem;
}

.facts::-webkit-scrollbar-thumb {
  background-color: rgba(157, 180, 192, 0.5);
  border-radius: 2rem;
}

.facts::-webkit-scrollbar-thumb:hover {
  background-color: #9db4c0;
}

.facts::-webkit-scrollbar-track {
  background-color: inherit;
}

.fact {
  display: grid;
  background-image: linear-gradient(to right, #d8e2dc 0%, #e8e8e4);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.modalImg {
  position: relative;
  left: -.6rem;
  top: -.8rem
}

.fact p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.binButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  justify-self: flex-end;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f08080;
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.4s;
  position: relative;
  bottom: -.6rem;
  right: -.6rem;
  overflow: hidden;
}

.binBottom {
  width: 15px;
  z-index: 2;
}

.binTop {
  width: 1rem;
  transform-origin: right;
  transition-duration: 0.5s;
  z-index: 2;
}

.binButton:hover .bin-top {
  transform: rotate(45deg);
}

.binButton:hover {
  background-color: rgb(255, 95, 95);
}

.binButton:active {
  transform: scale(0.9);
}

.garbage {
  position: absolute;
  width: 1rem;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.binButton:hover .garbage {
  animation: throw 0.4s linear;
}

@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }

  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}


@media screen and (min-width: 768px) {
  .facts {
    height: auto;
  }
}

.noFacts {
  margin-top: 1rem;
  font-weight: 500;
}